**/*.iml
**/*.jar
**/*.pem
**/*.class
**/*.doc
**/*.docx
**/*.pdf
**/.idea/
**/*.zip
**/target/

databases-snap/MyApplication/app/src/debug/res/values/google_maps_api\.xml

aura_kingdom_emojis_svg/

databases-snap/README-Celia\.md

special-topics-reddit/README-Andy\.md
