<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.reddit">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ViewSub"></activity>
        <activity android:name=".SearchResults" />
        <activity android:name=".ChooseSub" />
        <activity android:name=".MakePost" />
        <activity android:name=".MakeSub" />
        <activity android:name=".Edit" />
        <activity android:name=".ViewProfile" />
        <activity
            android:name=".LogIn"
            android:label="LogIn"
            android:theme="@style/AppTheme.Light" />
        <activity
            android:name=".Navigation"
            android:label="@string/title_activity_navigation"
            android:theme="@style/AppTheme.Light" />
        <activity
            android:name=".Reply"
            android:label="Reply"
            android:theme="@style/AppTheme.Light" />
        <activity
            android:name=".NavigationDrawer"
            android:label="@string/title_activity_navigation_drawer"
            android:theme="@style/AppTheme.Light" />
        <activity
            android:name=".ViewPost"
            android:label="ViewPost"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".MainPage"
            android:label="@string/title_activity_main_page"
            android:theme="@style/AppTheme.Light" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>